
body{
    background-color: rgb(54, 54, 54);
    font-family: sans-serif;
}
#container{
    display: flex;
    min-height: 100%;
}
#sidebar{
    padding-top: 50px;
    width: 20%;
    border: 1px solid white;
}
.sidebar-content{
    color: rgb(206, 206, 206);
    text-align: left;
    padding-left: 20px;
    margin-block: 5px;
}
.sidebar-content:hover{
    color: white;
}
#color-blocks-panel{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}
.color-blocks{
    margin: 0px;
    height: 25%;
    width: 100%;
    border: 1px solid red;
    display: inline-block;
}