
body{
    background-color: rgb(54, 54, 54);
    font-family: sans-serif;
}
#container{
    display: flex;
}
#sidebar{
    width: 20vw;
    height: 100vh;
    border: 1px solid white;
}
.sidebar-content{
    color: rgb(206, 206, 206);
    text-align: left;
    margin: 20px;
}
a.sidebar-content:hover{
    color: white;
}
#color-blocks-panel{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    background-color: rgb(247, 227, 207);
}
.color-blocks{
    margin: 0px;
    height: 25%;
    width: 100%;
    border: 1px solid red;
    display: inline-block;
}
.article-block{ 
    margin: 50px;
    text-align: center;
}
.grid-container{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 4;
    grid-template-rows: min-content;
}